n8n-user-workflow.json
{
    "name": "Energy Monitor V3 (User Provided)",
    "active": true,
    "nodes": [
        {
            "parameters": {
                "jsCode": "// ═══════════════════════════════════════════════════════\n// THRESHOLD ANALYZER (ROBUST VERSION)\n// Acceptable Range: 10-17 kWh\n// Above 17 kWh = BREACH (requires manual check)\n// ═══════════════════════════════════════════════════════\n\nconst THRESHOLD_MIN = 10;\nconst THRESHOLD_MAX = 17;\n\nconst input = $input.all();\nconst results = [];\n\nfor (const item of input) {\n  // 1. ROBUST INPUT PARSING\n  // Handle both flat JSON (direct) and nested 'body' (webhook)\n  const data = item.json.body || item.json;\n\n  // 2. EXTRACT VALUES\n  const consumption = Number(data.consumption) || 0;\n  const equipment = data.equipment || 'Unknown';\n  const timestamp = data.timestamp || new Date().toISOString();\n  const hour = new Date(timestamp).getHours();\n  \n  // 3. DETERMINE BREACH\n  const thresholdBreach = consumption > THRESHOLD_MAX;\n  const status = thresholdBreach ? 'BREACH' : 'NORMAL';\n  \n  // 4. SET SEVERITY\n  let severity = 'OK';\n  if (thresholdBreach) {\n      severity = consumption > 20 ? 'CRITICAL' : 'WARNING';\n  }\n\n  // 5. CALCULATE DEVIATION\n  const deviationPercent = thresholdBreach \n    ? Number(((consumption - THRESHOLD_MAX) / THRESHOLD_MAX * 100).toFixed(2))\n    : 0;\n  \n  // 6. OUTPUT ENRICHED DATA\n  results.push({\n    json: {\n      equipment,\n      consumption,\n      timestamp,\n      hour,\n      thresholdMin: THRESHOLD_MIN,\n      thresholdMax: THRESHOLD_MAX,\n      // IMPORTANT: This boolean triggers the AI Flow\n      thresholdBreach,\n      status,\n      severity,\n      deviationPercent\n    }\n  });\n}\n\nreturn results;"
            },
            "id": "4759aae9-52b1-4f11-b507-7f4a3a5cb0df",
            "name": "Check Threshold (10-17 kWh)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1696,
                -640
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "check-breach",
                            "leftValue": "={{ $json.thresholdBreach }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "f556999c-d81d-4cfa-8b5f-5aaf230a89a4",
            "name": "Threshold Exceeded?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -1440,
                -640
            ]
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "gpt-4o-mini",
                    "mode": "list",
                    "cachedResultName": "GPT-4O-MINI"
                },
                "messages": {
                    "values": [
                        {
                            "content": "=You are an energy monitoring system. Write BOTH a ticket description AND an email for this threshold breach.\n\nDATA:\n- Equipment: {{ $json.equipment }}\n- Consumption: {{ $json.consumption }} kWh\n- Threshold: {{ $json.thresholdMin }}-{{ $json.thresholdMax }} kWh\n- Deviation: +{{ $json.deviationPercent }}% above limit\n- Severity: {{ $json.severity }}\n- Time: {{ $json.hour }}:00\n\nRespond in this EXACT JSON format (no markdown, just JSON):\n{\n  \"ticketTitle\": \"Short title for the ticket\",\n  \"ticketDescription\": \"Detailed ticket description mentioning APPLICATION MUST BE CHECKED MANUALLY\",\n  \"emailSubject\": \"Email subject line with warning\",\n  \"emailBody\": \"Professional email body warning about the threshold breach and recommending manual inspection\"\n}\n\nIMPORTANT:\n- Ticket must include \"APPLICATION MUST BE CHECKED MANUALLY\"\n- Email must be professional and include consumption details\n- Keep it concise but informative"
                        }
                    ]
                },
                "options": {
                    "maxTokens": 500,
                    "temperature": 0.3
                }
            },
            "id": "de23167d-4357-41d2-861f-b0563abdc45d",
            "name": "AI: Generate Ticket & Email",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8,
            "position": [
                -1264,
                -912
            ],
            "credentials": {
                "openAiApi": {
                    "id": "CyaGzW81kgoHjQcF",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse AI response and create ticket + email data\nconst input = $input.all();\nconst results = [];\n\nfor (const item of input) {\n  const aiText = item.json.message?.content || item.json.text || '{}';\n  \n  let aiContent;\n  try {\n    // Try to parse JSON from AI response\n    const jsonMatch = aiText.match(/\\{[\\s\\S]*\\}/);\n    aiContent = jsonMatch ? JSON.parse(jsonMatch[0]) : {};\n  } catch (e) {\n    aiContent = {\n      ticketTitle: `⚠️ THRESHOLD EXCEEDED - ${item.json.equipment}`,\n      ticketDescription: `APPLICATION MUST BE CHECKED MANUALLY\\n\\nEnergy consumption exceeded threshold.\\nEquipment: ${item.json.equipment}\\nConsumption: ${item.json.consumption} kWh\\nThreshold: ${item.json.thresholdMin}-${item.json.thresholdMax} kWh`,\n      emailSubject: `⚠️ WARNING: Energy Threshold Exceeded - ${item.json.equipment}`,\n      emailBody: `This is an automated warning.\\n\\nEnergy consumption on ${item.json.equipment} has exceeded the threshold.\\n\\nCurrent: ${item.json.consumption} kWh\\nThreshold: ${item.json.thresholdMin}-${item.json.thresholdMax} kWh\\n\\nPlease inspect manually.`\n    };\n  }\n  \n  const now = new Date();\n  const ticketId = `T-${now.getFullYear()}${String(now.getMonth()+1).padStart(2,'0')}${String(now.getDate()).padStart(2,'0')}-${String(now.getHours()).padStart(2,'0')}${String(now.getMinutes()).padStart(2,'0')}${String(now.getSeconds()).padStart(2,'0')}`;\n  \n  results.push({\n    json: {\n      ...item.json,\n      ticketId,\n      ticketTitle: aiContent.ticketTitle || `⚠️ THRESHOLD EXCEEDED - ${item.json.equipment}`,\n      ticketDescription: aiContent.ticketDescription || 'APPLICATION MUST BE CHECKED MANUALLY',\n      emailSubject: aiContent.emailSubject || `⚠️ Energy Threshold Warning - ${item.json.equipment}`,\n      emailBody: aiContent.emailBody || `Energy consumption exceeded on ${item.json.equipment}. Please check manually.`\n    }\n  });\n}\n\nreturn results;"
            },
            "id": "9180bfc7-e8fa-45b3-a727-e72c1d78b02e",
            "name": "Parse AI Content",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -944,
                -736
            ]
        },
        {
            "parameters": {
                "fromEmail": "tenxhealthinterns@gmail.com",
                "toEmail": "mritulashankar@gmail.com",
                "subject": "={{ $json.emailSubject }}",
                "options": {}
            },
            "id": "8af0b525-be73-41a6-b9f7-e8f7c6e07fba",
            "name": "Send Warning Email",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                -688,
                -848
            ],
            "webhookId": "7e36793f-b2f7-4f8f-ace2-b43a5b7686db",
            "credentials": {
                "smtp": {
                    "id": "9oyJLFUmOtWz2w2r",
                    "name": "SMTP account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3000/webhook/ticket",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"ticketId\": \"{{ $json.ticketId }}\",\n  \"subject\": \"{{ $json.ticketTitle }}\",\n  \"description\": {{ JSON.stringify($json.ticketDescription) }},\n  \"status\": \"open\",\n  \"priority\": \"{{ $json.severity === 'CRITICAL' ? 'critical' : 'high' }}\",\n  \"alertType\": \"THRESHOLD_BREACH\",\n  \"equipment\": \"{{ $json.equipment }}\",\n  \"consumption\": {{ $json.consumption }},\n  \"expected\": {{ $json.thresholdMax }},\n  \"thresholdBreach\": true,\n  \"requiresManualCheck\": true\n}",
                "options": {}
            },
            "id": "babd7aef-c244-48ee-870b-f37b3be49295",
            "name": "Raise Ticket on Dashboard",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -688,
                -640
            ]
        },
        {
            "parameters": {
                "jsCode": "// Return success response for breach\nconst item = $input.first();\n\nreturn [{\n  json: {\n    success: true,\n    status: 'BREACH',\n    message: 'Threshold exceeded! Ticket raised and email sent.',\n    ticketId: item.json.ticketId,\n    emailSent: true,\n    equipment: item.json.equipment,\n    consumption: item.json.consumption\n  }\n}];"
            },
            "id": "5984b464-1f24-49fe-b041-52f6d354299d",
            "name": "Response - Breach Handled",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -432,
                -736
            ]
        },
        {
            "parameters": {
                "jsCode": "// Return response for normal reading\nconst item = $input.first();\n\nreturn [{\n  json: {\n    success: true,\n    status: 'NORMAL',\n    message: 'Consumption within threshold',\n    equipment: item.json.equipment,\n    consumption: item.json.consumption,\n    threshold: `${item.json.thresholdMin}-${item.json.thresholdMax} kWh`\n  }\n}];"
            },
            "id": "8fb1f59b-03f0-41a9-83c9-0b86e86cce0c",
            "name": "Response - Normal",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1184,
                -496
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "energy-data",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "49d5b488-cfbe-421d-a519-6b7b62c09718",
            "name": "Receive Energy Data1",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -1936,
                -640
            ],
            "webhookId": "energy-data-webhook-v3"
        }
    ],
    "connections": {
        "Check Threshold (10-17 kWh)": {
            "main": [
                [
                    {
                        "node": "Threshold Exceeded?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Threshold Exceeded?": {
            "main": [
                [
                    {
                        "node": "AI: Generate Ticket & Email",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Response - Normal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI: Generate Ticket & Email": {
            "main": [
                [
                    {
                        "node": "Parse AI Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse AI Content": {
            "main": [
                [
                    {
                        "node": "Send Warning Email",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Raise Ticket on Dashboard",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Warning Email": {
            "main": [
                [
                    {
                        "node": "Response - Breach Handled",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Raise Ticket on Dashboard": {
            "main": [
                [
                    {
                        "node": "Response - Breach Handled",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Receive Energy Data1": {
            "main": [
                [
                    {
                        "node": "Check Threshold (10-17 kWh)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "44b5edd81a02b8258ca3a0042caf07338318d20bf14c72f4e6588b40641ade52"
    }
}